<footer class="bg-info-subtle text-white text-center py-3">
  <p style="font-weight: 500; font-style: italic;">I would have gone with you to the end… into the very fires of Mordor &copy; 2024</p>
</footer>
