<br />
<br />
<div class="container mb-5">
  <h1 class="mt-5 mb-5">Nossos produtos</h1
</div>
 <!-- itens -->
  <div class="container mb-5">
 <ul class="list-group">
    <% for (i = 3; i < 6; i++){ %> <%-
    include("itemListsProdutos",{produto : produtos[i], indice:i}); %> <% }; %>
</div>