<nav class="navbar navbar-expand-lg bg-info-subtle">
    <div class="container-fluid">
      <a class="ms-1 navbar-brand" href="./main.ejs"><i class="bi bi-cpu-fill"></i> TechNandos</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTechNando"
        aria-controls="navbarTechNando"
        aria-expanded="false"
        aria-label="Esconder navegação"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTechNando">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./main.ejs"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contato.ejs">Orçamentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./login.ejs">Sair</a>
          </li>
        </ul>
        <i class="bi bi-person-circle fs-3"></i>
    </div>
  </nav>